@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
font-family: 'Raleway', sans-serif;
font-size: 22px;
}
body,html
{
  height: 100%;
}

html
{
background: url("https://f.top4top.net/p_1201jx0342.png") no-repeat center center fixed; ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.uk-card-default
{
	background: #ffffff2b !important;
    color: #fff !important;
    border-radius: 6px !important;
}
.uk-card-default.uk-card-hover
{
	background-image: linear-gradient(to right, #fffefe4f , #00000040) !important;
    color: #fff !important;
    border-radius: 6px !important;
	
}
.uk-card-default.uk-card-hover:hover
{
	background-image: linear-gradient(to right, #fffefe4f , #00000040) !important;
    color: #fff !important;
    border-radius: 6px !important;
	
}
.uk-input, .uk-select, .uk-textarea
{
  border-radius: 5px !important;
}
.uk-button-default
{
	border: 1px solid #00000038 !important;
}
.uk-link, a 
{
font-size: 12px !important;
}
.uk-text-bottom
{
font-size: 15px !important;
}